<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <!-- Jquery -->
    <script src="../public/libs/jquery-3.3.1.min.js"></script>

    <!-- Vue.js -->
    <script src="../public/libs/vue.min.js"></script>

    <!-- element-ui -->
    <link href="../public/libs/element-ui/element-ui.css" rel="stylesheet">
    <script src="../public/libs/element-ui/element-ui.js"></script>

    <!-- ext -->
    <script src="../public/js/common.js"></script>
    <script src="../public/js/thb.js"></script>
    <style>
        .el-tabs__content {
            padding-top: 1rem;
        }

        .el-footer span+span:before {
            content: "|\00a0";
            color: black;
        }

        .buttonlist {
            padding: 0 0 10px 0;
        }

        .thb-suggest li {
            line-height: normal;
            padding: 7px;
        }

        .thb-suggest .name {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .thb-suggest .content {
            font-size: 12px;
            color: #b4b4b4;
        }

        .everyDay {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: #409eff;
            color: #fff;
            border-radius: 50%;
        }
    </style>
</head>

<body style="width: 500px; height: 400px;">
    <div id="app">
        <el-row>
            <el-col :span="24">
                <div class="buttonlist">
                    <el-button @Click="enterTHB()" type="info">THBWiki</el-button>
                    <el-button @Click="enterTHB(true)" type="primary" v-text="UserName||_t('LoginTHB')"></el-button>
                    {{_t('extVersion')+Version}}
                </div>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="24">
                <el-autocomplete :placeholder="_t('search')" popper-class="thb-suggest" v-model="Search"
                    style="width: 100%;" @keyup.enter.native="searchTHB" :fetch-suggestions="searchTHBSuggest"
                    :trigger-on-focus="false" @select="searchSelect" :highlight-first-item="true">
                    <el-button slot="append" icon="el-icon-search" @click="searchTHB">
                    </el-button>
                    <template slot-scope="{item}">
                        <div class="name" v-html="item.name"></div>
                        <span class="content" v-text="item.content"></span>
                    </template>
                </el-autocomplete>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="24">
                <el-tabs v-model="Tab" @tab-click="changeTab" tab-position="left">
                    <el-tab-pane :label="_t('UnreadNotification')" name="0">
                        <div class="block">
                            <el-card v-if="UnreadNotificationList.length<=0">
                                {{_t('NoInfo')+_t('UnreadNotification')}}
                            </el-card>
                            <el-timeline v-else>
                                <div class="buttonlist">
                                    <el-button icon="el-icon-circle-check" @click="markAllRead" type="success">
                                        {{_t('markAllRead')}}
                                    </el-button>
                                </div>
                                <el-timeline-item v-for="(Notification, index) in UnreadNotificationList" :key="index"
                                    :timestamp="Notification.date" placement="top">
                                    <el-card @click="Read(Notification.url)">
                                        <div slot="header" class="clearfix">
                                            <span v-text="Notification.type"></span>
                                            <el-button size="medium" style="float: right; padding: 3px 0" type="text"
                                                :title="_t('markRead')" @click="markRead(Notification.id)"
                                                icon="el-icon-circle-check">
                                            </el-button>
                                            <el-button size="medium" style="float: right; padding: 3px 0" type="text"
                                                :title="_t('View')" @click="Read(Notification.url)" icon="el-icon-view">
                                            </el-button>
                                        </div>
                                        <el-container>
                                            <el-container>
                                                <el-aside width="25px"><img :src="Notification.iconurl" width="24px"
                                                        :alt="Notification.icon" /></el-aside>
                                                <el-container>
                                                    <el-header height="auto" v-html="Notification.header"></el-header>
                                                    <el-main v-if="Notification.body" v-html="Notification.body">
                                                    </el-main>
                                                </el-container>
                                            </el-container>
                                            <el-footer height="auto">
                                                <span v-text="Notification.categoryname"></span>
                                                <span v-if="Notification.agentname">{{_t('Operator')}}<el-link
                                                        type="primary"
                                                        @click="Read('http://thwiki.cc/用户:'+Notification.agentname)"
                                                        v-text="Notification.agentname">
                                                        </link></span>
                                            </el-footer>
                                        </el-container>
                                    </el-card>
                                </el-timeline-item>
                            </el-timeline>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane :label="_t('RemindNotification')" name="1">
                        <div class="block">
                            <el-card v-if="RemindNotificationList.length<=0">
                                {{_t('NoInfo')+_t('RemindNotification')}}
                            </el-card>
                            <el-timeline v-else>
                                <el-timeline-item v-for="(Notification, index) in RemindNotificationList" :key="index"
                                    :timestamp="Notification.date" placement="top">
                                    <el-card>
                                        <div slot="header" class="clearfix">
                                            <span v-text="Notification.type"></span>
                                            <el-button size="medium" style="float: right; padding: 3px 0" type="text"
                                                :title="_t('View')" @click="Read(Notification.url)" icon="el-icon-view">
                                            </el-button>
                                        </div>
                                        <el-container>
                                            <el-container>
                                                <el-aside width="25px"><img :src="Notification.iconurl" width="24px"
                                                        :alt="Notification.icon" /></el-aside>
                                                <el-container>
                                                    <el-header height="auto" v-html="Notification.header"></el-header>
                                                    <el-main v-if="Notification.body" v-html="Notification.body">
                                                    </el-main>
                                                </el-container>
                                            </el-container>
                                            <el-footer height="auto">
                                                <span v-text="Notification.categoryname"></span>
                                                <span v-if="Notification.agentname">{{_t('Operator')}}<el-link
                                                        type="primary"
                                                        @click="Read('http://thwiki.cc/用户:'+Notification.agentname)"
                                                        v-text="Notification.agentname">
                                                        </link></span>
                                            </el-footer>
                                        </el-container>
                                    </el-card>
                                </el-timeline-item>
                            </el-timeline>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane :label="_t('MsgNotification')" name="2">
                        <div class="block">
                            <el-card v-if="MsgNotificationList.length<=0">
                                {{_t('NoInfo')+_t('MsgNotification')}}
                            </el-card>
                            <el-timeline v-else>
                                <el-timeline-item v-for="(Notification, index) in MsgNotificationList" :key="index"
                                    :timestamp="Notification.date" placement="top">
                                    <el-card>
                                        <div slot="header" class="clearfix">
                                            <span v-text="Notification.type"></span>
                                            <el-button size="medium" style="float: right; padding: 3px 0" type="text"
                                                :title="_t('View')" @click="Read(Notification.url)" icon="el-icon-view">
                                            </el-button>
                                        </div>
                                        <el-container>
                                            <el-container>
                                                <el-aside width="25px"><img :src="Notification.iconurl" width="24px"
                                                        :alt="Notification.icon" /></el-aside>
                                                <el-container>
                                                    <el-header height="auto" v-html="Notification.header"></el-header>
                                                    <el-main v-if="Notification.body" v-html="Notification.body">
                                                    </el-main>
                                                </el-container>
                                            </el-container>
                                            <el-footer height="auto">
                                                <span v-text="Notification.categoryname"></span>
                                                <span v-if="Notification.agentname">{{_t('Operator')}}<el-link
                                                        type="primary"
                                                        @click="Read('http://thwiki.cc/用户:'+Notification.agentname)"
                                                        v-text="Notification.agentname">
                                                        </link></span>
                                            </el-footer>
                                        </el-container>
                                    </el-card>
                                </el-timeline-item>
                            </el-timeline>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane :label="_t('Calendar')" name="3">
                        <el-calendar>
                            <template slot="dateCell" slot-scope="{date, data}">
                                <div>
                                    <div class="calendar-day" style="text-align: center">
                                        <template v-if="getStarDay(data.day).length>0">
                                            <el-tooltip class="item" effect="dark" placement="right">
                                                <span
                                                    class="everyDay">{{ data.day.split('-').slice(2).join('-') }}</span>
                                                <div slot="content"
                                                    v-html="dateContent(getStarDay(data.day),data.day)">
                                                </div>
                                            </el-tooltip>
                                        </template>
                                        <span v-else>
                                            {{ data.day.split('-').slice(2).join('-') }}
                                        </span>
                                        <!-- <template v-for="rdate in DateList.filter((v)=>v.date==data.day)">
                                            <el-tooltip v-if="rdate.date==data.day" class="item" effect="dark"
                                                :content="{{rdate.name}}" placement="right">
                                                <span
                                                    class="everyDay">{{ data.day.split('-').slice(2).join('-') }}</span>
                                            </el-tooltip>
                                        </template> -->
                                    </div>
                                </div>
                            </template>
                        </el-calendar>
                    </el-tab-pane>
                    <el-tab-pane :label="_t('OrigMusic')" name="4">
                        <el-row>
                            <el-col :span="24">
                                <el-input :placeholder="_t('OrigMusicSearch')" v-model="OrigMusic"
                                    class="input-with-select" @keyup.enter.native="searchOrigMusic">
                                    <el-button slot="append" icon="el-icon-search" @click="searchOrigMusic"></el-button>
                                </el-input>
                            </el-col>
                        </el-row>
                        <el-card class="box-card">
                            <div class="text item">
                                <span style="font-size:14px;vertical-align: middle;">{{_t('OrigMusicName')}}：</span>
                                <el-link type="primary" :href="OrigMusicInfo.Url" target="_blank">{{OrigMusicInfo.Name}}
                                </el-link>
                            </div>
                            <div class="text item">
                                <span
                                    style="font-size:14px;vertical-align: middle;">{{_t('OrigMusicTranName')}}：{{OrigMusicInfo.TranName}}</span>
                            </div>
                            <div class="text item">
                                <span style="font-size:14px;vertical-align: middle;">{{_t('OrigMusicGame')}}：</span>
                                <el-link type="primary" :href="'https://thwiki.cc/'+OrigMusicInfo.Game" target="_blank"
                                    v-text="OrigMusicInfo.Game?'《'+OrigMusicInfo.Game+'》':''"></el-link>
                            </div>
                            <div class="text item">
                                <span
                                    style="font-size:14px;vertical-align: middle;">{{_t('OrigMusicDate')}}：{{OrigMusicInfo.Date}}</span>
                            </div>
                        </el-card>
                    </el-tab-pane>
                    <el-tab-pane :label="_t('Options')" name="5">
                        <el-card class="box-card">
                            <div class="text item">
                                {{_t('SWBackground')}}：<el-switch v-model="Options.background">
                                </el-switch>
                            </div>
                            <div class="text item" v-if="Options.background">
                                {{_t('SWCustomBackground')}}：<el-switch v-model="Options.custombackground">
                                </el-switch>
                            </div>
                            <div class="text item" v-if="Options.custombackground">
                                {{_t('CustomBGUrl')}}：<el-input v-model="Options.custombgurl"></el-input>
                            </div>
                            <div class="text item">
                                {{_t('SWTag')}}：<el-switch v-model="Options.tag">
                                </el-switch>
                            </div>
                            <div class="text item">
                                {{_t('SWNetease')}}：<el-switch v-model="Options.netease">
                                </el-switch>
                            </div>
                            <div class="text item">
                                {{_t('SWAPlayer')}}：<el-switch v-model="Options.aplayer">
                                </el-switch>
                            </div>
                            <div class="text item">
                                <el-button type="primary" @click="saveOptions">{{_t('SaveOptions')}}</el-button>
                            </div>
                        </el-card>
                    </el-tab-pane>
            </el-col>
        </el-row>
    </div>
    <script src="../public/js/popup.js"></script>
</body>

</html>