<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <!-- Jquery -->
    <script src="../public/libs/jquery-3.3.1.min.js"></script>

    <!-- Vue.js -->
    <script src="../public/libs/vue.min.js"></script>

    <!-- element-ui -->
    <link href="../public/libs/element-ui/element-ui.css" rel="stylesheet">
    <script src="../public/libs/element-ui/element-ui.js"></script>

    <!-- ext -->
    <script src="../public/js/common.js"></script>
    <script src="../public/js/thb.js"></script>
    <style>
        .el-tabs__content {
            padding-top: 1rem;
        }

        .el-footer span+span:before {
            content: "|\00a0";
            color: black;
        }

        .buttonlist {
            padding: 0 0 10px 0;
        }

        .thb-suggest li {
            line-height: normal;
            padding: 7px;
        }

        .thb-suggest .name {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .thb-suggest .content {
            font-size: 12px;
            color: #b4b4b4;
        }

        .everyDay {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: #409eff;
            color: #fff;
            border-radius: 50%;
        }

        .mask {
            background-color: #252525;
            color: #252525;
            transition: color 0.5s;
        }

        .mask:hover {
            color: #ffffff;
        }

        .el-card .switch {
            padding-bottom: 0.4rem;
        }
    </style>
</head>

<body style="width: 500px; height: 400px;">
    <div id="app">
        <el-row>
            <el-col :span="24">
                <el-row :gutter="20">
                    <el-col :span="6">
                        <div class="grid-content">
                            <el-button @Click="enterTHB()" type="info">THBWiki</el-button>
                            <p>{{T('extVersion')+Version}}</p>
                        </div>
                    </el-col>
                    <template v-if="loginStatus">
                        <el-col :span="8">
                            <div class="grid-content" id="userinfo">
                                <div id="username">
                                    <template v-if="UserInfo.name">

                                        <div @Click="Temp.advancedCount++">
                                            <el-avatar size="large" :src="UserInfo.avatar">
                                            </el-avatar>
                                        </div>
                                    </template>
                                    <el-link @Click="enterTHB(true)" v-html="UserInfo.name"
                                        style="margin-top: -3.7rem;margin-left: 3rem;"></el-link>
                                </div>
                                <template v-if="AchievementInfo.titlename">
                                    <p style="margin-top: -1rem;margin-bottom: 0rem;">
                                        <a :title="AchievementInfo.titledesc" v-text="AchievementInfo.titlename"
                                            style="color: #409eff;"></a>
                                    </p>
                                </template>
                                <p style="margin-top: 0rem;margin-bottom: 0rem;" v-html="UserInfo.htmlrealname">
                                </p>
                            </div>
                        </el-col>
                        <el-col :span="10">
                            <div class="grid-content" id="userextinfo" style="margin-top: -0.6rem;">
                                <p>{{T('RegTime')}}<b>{{UserInfo.registrationdate}}</b></p>
                                <p>{{T('Group')}}<b>{{UserInfo.group}}</b></p>
                                <p>{{T('EditCount')}}<b>{{UserInfo.editcount}}</b></p>
                            </div>
                        </el-col>
                    </template>
                    <template v-else>
                        <el-col :span="8">
                            <div class="grid-content" id="userextinfo">
                                <el-button @Click="enterTHB(true)" type="primary" v-text="T('LoginTHB')"></el-button>
                            </div>
                        </el-col>
                    </template>
                </el-row>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="24">
                <el-autocomplete :placeholder="T('search')" popper-class="thb-suggest" v-model="Search"
                    style="width: 100%;" @keyup.enter.native="searchTHB" :fetch-suggestions="searchTHBSuggest"
                    :trigger-on-focus="false" @select="searchSelect" :highlight-first-item="true">
                    <el-button slot="append" icon="el-icon-search" @click="searchTHB">
                    </el-button>
                    <template slot-scope="{item}">
                        <div class="name" v-html="item.name"></div>
                        <span class="content" v-text="item.content"></span>
                    </template>
                </el-autocomplete>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="24">
                <el-tabs v-model="Tab" @tab-click="changeTab" tab-position="left">
                    <el-tab-pane :label="T('UnreadNotification')" name="0">
                        <div class="block">
                            <el-card v-if="UnreadNotificationList.length<=0">
                                {{T('NoInfo')}}
                            </el-card>
                            <el-timeline v-else>
                                <div class="buttonlist">
                                    <el-button icon="el-icon-circle-check" @click="markAllRead" type="success">
                                        {{T('markAllRead')}}
                                    </el-button>
                                </div>
                                <el-timeline-item v-for="(Notification, index) in UnreadNotificationList" :key="index"
                                    :timestamp="Notification.date" placement="top">
                                    <el-card @click="Read(Notification.url)">
                                        <div slot="header" class="clearfix">
                                            <span v-text="Notification.type"></span>
                                            <el-button size="medium" style="float: right; padding: 3px 0" type="text"
                                                :title="T('markRead')" @click="markRead(Notification.id)"
                                                icon="el-icon-circle-check">
                                            </el-button>
                                            <el-button size="medium" style="float: right; padding: 3px 0" type="text"
                                                :title="T('View')" @click="Read(Notification.url)" icon="el-icon-view">
                                            </el-button>
                                        </div>
                                        <el-container>
                                            <el-container>
                                                <el-aside width="25px"><img :src="Notification.iconurl" width="24px"
                                                        :alt="Notification.icon" /></el-aside>
                                                <el-container>
                                                    <el-header height="auto" v-html="Notification.header"></el-header>
                                                    <el-main v-if="Notification.body" v-html="Notification.body">
                                                    </el-main>
                                                </el-container>
                                            </el-container>
                                            <el-footer height="auto">
                                                <span v-text="Notification.categoryname"></span>
                                                <span v-if="Notification.agentname">{{T('Operator')}}<el-link
                                                        type="primary"
                                                        @click="Read('http://thwiki.cc/用户:'+Notification.agentname)"
                                                        v-text="Notification.agentname">
                                                        </link></span>
                                            </el-footer>
                                        </el-container>
                                    </el-card>
                                </el-timeline-item>
                            </el-timeline>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane :label="T('RemindNotification')" name="1">
                        <div class="block">
                            <el-card v-if="RemindNotificationList.length<=0">
                                {{T('NoInfo')}}
                            </el-card>
                            <el-timeline v-else>
                                <el-timeline-item v-for="(Notification, index) in RemindNotificationList" :key="index"
                                    :timestamp="Notification.date" placement="top">
                                    <el-card>
                                        <div slot="header" class="clearfix">
                                            <span v-text="Notification.type"></span>
                                            <el-button size="medium" style="float: right; padding: 3px 0" type="text"
                                                :title="T('View')" @click="Read(Notification.url)" icon="el-icon-view">
                                            </el-button>
                                        </div>
                                        <el-container>
                                            <el-container>
                                                <el-aside width="25px"><img :src="Notification.iconurl" width="24px"
                                                        :alt="Notification.icon" /></el-aside>
                                                <el-container>
                                                    <el-header height="auto" v-html="Notification.header"></el-header>
                                                    <el-main v-if="Notification.body" v-html="Notification.body">
                                                    </el-main>
                                                </el-container>
                                            </el-container>
                                            <el-footer height="auto">
                                                <span v-text="Notification.categoryname"></span>
                                                <span v-if="Notification.agentname">{{T('Operator')}}<el-link
                                                        type="primary"
                                                        @click="Read('http://thwiki.cc/用户:'+Notification.agentname)"
                                                        v-text="Notification.agentname">
                                                        </link></span>
                                            </el-footer>
                                        </el-container>
                                    </el-card>
                                </el-timeline-item>
                            </el-timeline>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane :label="T('MsgNotification')" name="2">
                        <div class="block">
                            <el-card v-if="MsgNotificationList.length<=0">
                                {{T('NoInfo')}}
                            </el-card>
                            <el-timeline v-else>
                                <el-timeline-item v-for="(Notification, index) in MsgNotificationList" :key="index"
                                    :timestamp="Notification.date" placement="top">
                                    <el-card>
                                        <div slot="header" class="clearfix">
                                            <span v-text="Notification.type"></span>
                                            <el-button size="medium" style="float: right; padding: 3px 0" type="text"
                                                :title="T('View')" @click="Read(Notification.url)" icon="el-icon-view">
                                            </el-button>
                                        </div>
                                        <el-container>
                                            <el-container>
                                                <el-aside width="25px"><img :src="Notification.iconurl" width="24px"
                                                        :alt="Notification.icon" /></el-aside>
                                                <el-container>
                                                    <el-header height="auto" v-html="Notification.header"></el-header>
                                                    <el-main v-if="Notification.body" v-html="Notification.body">
                                                    </el-main>
                                                </el-container>
                                            </el-container>
                                            <el-footer height="auto">
                                                <span v-text="Notification.categoryname"></span>
                                                <span v-if="Notification.agentname">{{T('Operator')}}<el-link
                                                        type="primary"
                                                        @click="Read('http://thwiki.cc/用户:'+Notification.agentname)"
                                                        v-text="Notification.agentname">
                                                        </link></span>
                                            </el-footer>
                                        </el-container>
                                    </el-card>
                                </el-timeline-item>
                            </el-timeline>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane :label="T('Calendar')" name="3">
                        <el-calendar>
                            <template slot="dateCell" slot-scope="{date, data}">
                                <div>
                                    <div class="calendar-day" style="text-align: center">
                                        <template v-if="getStarDay(data.day).length>0">
                                            <el-tooltip class="item" effect="dark" placement="right">
                                                <span class="everyDay">{{ data.day.split('-').slice(2).join('-')
                                                    }}</span>
                                                <div slot="content" v-html="dateContent(getStarDay(data.day),data.day)">
                                                </div>
                                            </el-tooltip>
                                        </template>
                                        <span v-else>
                                            {{ data.day.split('-').slice(2).join('-') }}
                                        </span>
                                    </div>
                                </div>
                            </template>
                        </el-calendar>
                    </el-tab-pane>
                    <el-tab-pane :label="T('OrigMusic')" name="4">
                        <el-row>
                            <el-col :span="24">
                                <el-input :placeholder="T('OrigMusicSearch')" v-model="OrigMusic"
                                    class="input-with-select" @keyup.enter.native="searchOrigMusic">
                                    <el-button slot="append" icon="el-icon-search" @click="searchOrigMusic"></el-button>
                                </el-input>
                            </el-col>
                        </el-row>
                        <el-card class="box-card">
                            <div class="text item">
                                <span style="font-size:14px;vertical-align: middle;">{{T('OrigMusicName')}}：</span>
                                <el-link type="primary" :href="OrigMusicInfo.Url" target="_blank">{{OrigMusicInfo.Name}}
                                </el-link>
                            </div>
                            <div class="text item">
                                <span
                                    style="font-size:14px;vertical-align: middle;">{{T('OrigMusicTranName')}}：{{OrigMusicInfo.TranName}}</span>
                            </div>
                            <div class="text item">
                                <span style="font-size:14px;vertical-align: middle;">{{T('OrigMusicGame')}}：</span>
                                <el-link type="primary" :href="'https://thwiki.cc/'+OrigMusicInfo.Game" target="_blank"
                                    v-text="OrigMusicInfo.Game?'《'+OrigMusicInfo.Game+'》':''"></el-link>
                            </div>
                            <div class="text item">
                                <span
                                    style="font-size:14px;vertical-align: middle;">{{T('OrigMusicDate')}}：{{OrigMusicInfo.Date}}</span>
                            </div>
                        </el-card>
                    </el-tab-pane>
                    <el-tab-pane :label="T('Options')" name="5">
                        <el-card class="box-card">
                            <div class="text item switch">
                                {{T('SWBackground')}}：<el-switch v-model="Options.background">
                                </el-switch>
                            </div>
                            <div class="text item switch" v-if="Options.background">
                                {{T('SWCustomBackground')}}：<el-switch v-model="Options.custombackground">
                                </el-switch>
                            </div>
                            <div class="text item switch" v-if="Options.custombackground">
                                {{T('CustomBGUrl')}}：<el-input v-model="Options.custombgurl"></el-input>
                            </div>
                            <div class="text item switch">
                                {{T('SWTag')}}：<el-switch v-model="Options.tag">
                                </el-switch>
                            </div>
                            <div class="text item switch">
                                {{T('SWNetease')}}：<el-switch v-model="Options.netease">
                                </el-switch>
                            </div>
                            <div class="text item switch">
                                {{T('SWAPlayer')}}：<el-switch v-model="Options.aplayer">
                                </el-switch>
                            </div>
                            <div class="text item switch">
                                {{T('SWCustomBanner')}}：<el-switch v-model="Options.custombanner">
                                </el-switch>
                            </div>
                            <div class="text item switch" v-if="Options.custombanner">
                                {{T('CustomBNUrl')}}：
                                <el-select v-model="Options.custombnop" placeholder="默认头图">
                                    <el-option v-for="Banner in Banners" :key="Banner.value" :label="Banner.name"
                                        :value="Banner.value">
                                    </el-option>
                                </el-select>
                                <el-input v-model="Options.custombnurl" v-if="Options.custombnop=='customer'">
                                </el-input>
                            </div>
                            <template v-if="Options.advanced">
                                <div class="text item switch">
                                    {{T('SWInPageEdit')}}：<el-switch v-model="Options.inpageedit">
                                    </el-switch>
                                </div>
                            </template>
                            <div class="text item switch">
                                <el-button type="primary" @click="saveOptions">{{T('SaveOptions')}}</el-button>
                            </div>
                        </el-card>
                    </el-tab-pane>
            </el-col>
        </el-row>
    </div>
    <script src="../public/js/popup.js"></script>
</body>

</html>